{{define "footer"}}
<footer class="footer">
    <div class="container"><br/><br/>
        <p class="text-center">©2018 Powered by Sword</p>
        <p class="text-center">Forked from <a href="https://github.com/Moekr/sword">Moekr/sword</a> 
		<br/>
		<script src="https://s5.cnzz.com/z_stat.php?id=1275247546&web_id=1275247546" language="JavaScript"></script></p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.1.0/dist/echarts.min.js"></script>
<script src="/static/index.js"></script>
{{end}}
